body {
      background-color:#FFE4C4;
}

h2 {
    
      margin-left: 10px;
      background-color:white; 
      display:inline;
}
a {
      color:#D2691E;
      text-decoration: none;
      
}
.container {
      font-family: 'Times New Roman', Times, serif;
      font-size: medium;
      background-color:#F5F5DC;
      text-align: center;
}
#first-article {
      text-align: center;
      font-size: large;
      font-weight: 500;
      font-style: italic;
}
img{
      border: 1px solid #ddd;
      border-radius: 8px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      
}

#footer{
      text-align: center;
}
.aciklama {
      text-align:justify;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}
.resimlerabant img {
      display: inline-block;
}
.resimleragva img {
      display: inline-block;
}
